.Form {
  font-size: 1.5rem;
}
.Form .Hint {
  margin-bottom: 1.5rem;
  font-weight: bold;
}
.Form fieldset div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-end;
}
.Form label {
  order: 1;
  width: 8em;
  padding-right: 0.5em;
}
.Form input {
  order: 2;
  flex: 1 1 auto;
}
